# Virtual environment
venv/
*.pyc
__pycache__/
*.pyo
*.pyd

# Mac-specific files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Python bytecode
*.swp
*.swo

# Serial port lock files (just in case)
*.lock
